{% extends "web/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% comment %}Projects list title{% endcomment %}{% trans "Projects" %}{% endblock %}
{% block content %}
<section class="focus" id="focus">
  <div class="container">
    <!-- SECTION HEADER -->
    <div class="section-header">
      <!-- SECTION TITLE -->
      <h2 class="dark-text">
        {% comment %}Slogan at projects page{% endcomment %}{% trans "PROJECTS BY COMPETITORS" %}
      </h2>
      <div class="section-legend">
        {% trans "Check projects, vote for your favourites" %}
      </div>
    </div>
    <div class="row">
      {% for project in projects %}
      <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
        <div class="service-icon">
          <a href="/projects/{{ project.id }}">
            <i class="pixeden" style="background:url({% static 'img/website.png' %}) no-repeat center;width:100%; height:100%;"></i> <!-- FOCUS ICON-->
          </a>
        </div>
        <h3 class="red-border-bottom"><a href="/projects/{{ project.id }}" class="project-name-link">{{ project.name }}</a></h3>
        <!-- FOCUS HEADING -->
          <p><a href="{{ project.website }}" target="_blank" class="project-link">{{ project.website }}</a></p>
      </div>
      {% endfor %}
    </div>
  </div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->
{% endblock %}
